*{
    padding: 0;
    margin:0;
}

.ErrorContainer{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background:#fff2e8;
    color:#68707c;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.headerErrorContainer{
    width: 65%;
    height: 35%;
    display: flex;
    justify-content: center;
    align-items:flex-end; 
    font-size: 38px;
    text-align: center;

}
.BodyErrorContainer{
    width: 50%;
    height: 20%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.boton{
    width: 200px;
    height: 60px;
    background:#324a6e;
    color:#fff2e8;
    line-height: 60px;
    text-align: center;
    box-sizing: border-box;
    font-size: 26px;
    letter-spacing: .8px;
}
/*--------------*/
/*     Robot    */
/*--------------*/
.robotContainer{
    margin:5px;
    width:400px;
    height: 300px;
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    position: absolute;
    bottom: 80px;
    right: 0;
    animation: moves 2s linear infinite;
}
@keyframes moves{
    0%{
        bottom: 80px;
    }
    50%{
        bottom: 95px;
    }
    100%{
        bottom: 80px;
    }
}
.robotContainer::after{
    content:"";
    margin-top: 20px;
    width: 20%;
    height: 5%;
    background:#e6dad1;
    border-radius: 50%;
}
.robotHead{
    width: 90px;
    height: 80px;
    box-sizing: border-box;
    border-radius: 12px;
    border:solid 4px #35383b;
    display: flex;
    flex-flow: column;
    padding:5px 5px;
    position: relative;
}

.eyesContainer{
    width:100%;
    justify-content: space-around;
    display: flex;
}
.eyes{
    width:15px; /* el 70% de height */
    height:25px;  
    border-radius:15px;
    border:solid 4px #35383b;
    position: relative;
}
.eyes::after{
    content:"";
    position: absolute;
    bottom:-3px;
    transform: translate(-26%,15%);
    width: 35px;
    height:10px;
    background:#fff2e8;
}
.mouth{
    width: 35px;
    height: 20px;
    margin: 0 auto;
    margin-top:8px;
    box-sizing: border-box;
    border:solid 4px #35383b;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 0px 1px 3px 0px #777676 inset;
}
.robotNeck{
    width:15px;
    height: 18px;
    border:solid 4px #35383b;
    border-top:3px transparent;
    border-bottom: 3px transparent;
    box-shadow: 0px 2px 5px 0px #35383b inset;
}
.robotBody{
    width:90px;
    height: 80px;
    box-sizing: border-box;
    border-radius: 12px;
    border:solid 4px #35383b;
    display: flex;
    flex-flow: column;
    box-shadow: 0px -8px 15px 1px #b1afaf inset;
}
.base{
    width:30px;
    height:8px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border:solid 4px #35383b;
    border-top:transparent;
    box-sizing: border-box;
    box-shadow: 0px 0px 12px 0px #777676 inset;
}
.base2{
    width:30px;
    height:8px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border:solid 4px #35383b;
    border-top:transparent;
    box-sizing: border-box;
    box-shadow: 0px 0px 8px 0px #777676 inset;
    transform: rotate(90deg) translate(30px,22px);
}
.base3{
    width:30px;
    height:8px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border:solid 4px #35383b;
    border-top:transparent;
    box-sizing: border-box;
    box-shadow: 0px 0px 8px 0px #777676 inset;
    transform: rotate(270deg) translate(-22px,74px) ;
}
.base4{
    width:30px;
    height:8px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border:solid 4px #35383b;
    border-top:transparent;
    box-sizing: border-box;
    transform: rotate(90deg) translate(58px,48px);
}
.base5{
    width:30px;
    height:8px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border:solid 4px #35383b;
    border-top:transparent;
    box-sizing: border-box;
    transform: rotate(270deg) translate(-50px,48px);
}
.base6{
    width:30px;
    height:8px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border:solid 4px #35383b;
    border-top:transparent;
    box-sizing: border-box;
    transform:rotate(180deg);
}